rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /finance/{doc} {
      allow create: if true;
      allow read, list: if true;
      allow delete: if false;
    }

    match /test/connection {
      allow get: if true;
    }
    
    // Default deny for everything else
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
